Makefile
Makefile.in
aclocal.m4
ar-lib
compile
confdefs.h
config.guess
config.h
config.h.in
*.status
config.sub
configure
conftest*
depcomp
install-sh
libtool
ltmain.sh
missing
setup.sh
stamp-h*
*.o
*~
*.cache
*.log
*DS_Store*
*(Autosaved)*
*.tar.gz
*.tar.bz2
quartz-engine-*.*/*
